.artist-info {
    height: 100%;
    margin-left: 10px;


    border-radius: 10px;
    width: 250px;
   background: linear-gradient(180deg, #6028b0, #000000);
   display: flex;
   flex-direction: column;
  
  }

  .artist-info-album{
    width: 90%;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 15px;
  }

  .artist-info-title{
    height: 50px;

  }

  .info-title-text{
    font-weight: 600;
    padding-top: 10px;
    padding-left: 15px;
  }

  .artist-info-third{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 10px;

  }

  .artistinfo-songname{
    font-weight: 600;
    font-size: large;
  }

  .artistinfo-songartist{
    opacity: 0.7;
  }

  .centreartist-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    overflow: hidden;
  }

  .artist-info-image{
    height: 180px;
    border-radius: 10px;
   
    margin-top: 40px;
 
    
  }
  .artist-info-bottom{
    
       background: linear-gradient(180deg, #4a1f87, #32155b);
    flex: 1;
    
  
  }