     html,body{
      background-color: #242629;
       height: 100%;
      margin: 0;
      padding: 0;
      color: white;
  font-family: 'Arial', sans-serif;
    }
   
   
   .page-flexbox{
      display: flex;
      flex-direction:column;
      height: 100%;
      width: 100%;
      
    }